/* .allproducts {
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
  background: #f1efef;
  overflow: auto;
}

.tb {
  width: auto;
  display: flex;
  background: #000;
  overflow-x: auto;
}
.fl-table {
  width: 100%;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: #39536d8f 0px 0px 15px;
}
.heading {
  text-align: center;
  margin-bottom: 25px;
  font-size: x-large;
  font-weight: 530;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tb .fl-table thead th {
  background: white;
  color: #ffffff;
  background: #042654;
  font-size: 15px;
  text-transform: capitalize;
  border-right: 4px solid #063a828f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fl-table tbody tr {
  border-bottom: 4px solid #f1efef;
}

.fl-table :where(td, th, tr):last-of-type {
  border: none;
}
.fl-table td,
.fl-table th {
  text-align: center;
  padding: 10px;
}

.fl-table td {
  border-right: 4px solid #f1efef;
  font-size: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.change {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: space-around;
}
.change button {
  background: none;
}
.change button:first-child {
  color: rgb(214, 145, 16);
}
.change button:last-child {
  color: crimson;
}

.btns__filter {
  display: flex;
  margin-bottom: 10px;
  gap: 9px;
}
.btns__filter button {
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid #042654;
  border-radius: 8px;
}
/* Responsive */
@media (min-width: 767px) {
  .fl-table tbody tr:nth-child(even) {
    background: #f8f8f8;
  }
}
@media (max-width: 767px) {
  .empty {
    width: 270px;
    height: 120px;
  }

  .fl-table {
    display: block;
    max-width: 100%;
    border-top: 3px dashed #042654;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead th {
    border-bottom: 2px solid #063a828f;
    border-right: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100px;
    font-size: 12px !important;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/* ------------------------------- */

.popular_page {
  width: 100%;
  height: calc(100vh - 60px);
}

.popular_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular_header {
  width: 100%;
  height: 60px;
  /* background: dodgerblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #000;
}

.search_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_container input {
  height: 40px;
  width: 300px;
  border: none;
  outline: none;
  text-indent: 10px;
  font-size: 17px;
  border-radius: 15px;
  background: transparent;
  background: #00000043;
  color: #fff;
}

.search_container input::placeholder {
  color: #fff;
}

.search_container select {
  width: 200px;
  height: 40px;
  background: #00000043;
  border-radius: 15px;
  padding-right: 10px;
  font-size: 16px;
  color: #fff;
}

.search_container select option {
  font-size: 17px;
}

.popular_table_container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}

.popular_table_container table {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid #000; */
}

.popular_table_container table thead tr {
  width: 100%;
  height: 40px;
  background: #05326e;
  /* background: #042654; */
}

.popular_table_container table thead tr th {
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0 2px;
  position: sticky;
  top: 0px;
  background: #042654;
}

.popular_table_container table thead tr th:nth-child(12) {
  border-right: none;
}

.popular_table_container table tbody tr {
  height: 35px;
  background: #eeeeee;
  z-index: -1;
}

.popular_table_container table tbody tr td {
  border-right: 1px solid #fff;
  padding: 0 5px;
}

.popular_table_container table tbody tr:nth-child(odd) {
  background: #c7defd;
}
.popular_table_container table tbody tr td:nth-child(12) {
  border-right: none;
}

.popular_table_container table tbody tr td:nth-child(1) {
  text-align: center;
}

.popular_table_container table tbody tr td:nth-child(11) {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.popular_table_container table tbody tr td svg:first-child {
  color: rgb(214, 145, 16);
}

.popular_table_container table tbody tr td svg:nth-child(2) {
  color: crimson;
}
