.barCodeReader {
  top: 60px;
  left: 0;
  z-index: 100;
  width: 100%;
  background: rgba(50, 50, 50, 0.715) !important;
  backdrop-filter: blur(2px);
  gap: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.barcode_container {
  width: 400px !important;
  height: 400px !important;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

.scanned {
  width: 400px !important;
  height: 400px !important;
  padding: 30px 40px;
  gap: 15px;
  box-shadow: 1px 0 8px rgb(10, 107, 203);
  border: 1px solid rgba(58, 140, 223, 0.774);
  background: var(--bgColor) !important;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
}
.scanned span {
  width: 100%;
}
.scanned p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.scanned input {
  width: 90px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  background: white;
  color: #333;
  text-indent: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scanned :where(div, span) {
  display: flex;
  justify-content: space-between;
}
.scanned button {
  width: 50%;
  height: 40px;
  background: rgb(10, 107, 203);
  color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
.scanned button:hover {
  background: rgb(52, 139, 225);
}
.barClose {
  width: 100%;
  height: 30px;
  font-size: 25px;
  display: flex;
  padding-top: 5px;
  color: #fff;
}
.scanned__btns {
  display: flex;
  gap: 7px;
}

/* add code css */

.barCodeReader {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: azure;
  display: flex;
  flex-direction: column;
}
.scanned {
  width: 400px !important;
  height: 550px !important;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  gap: 15px;
  box-shadow: 1px 0 8px rgb(10, 107, 203);
  border: 1px solid rgba(58, 140, 223, 0.774);
  background: var(--bgColor) !important;
  font-size: 16px;
  color: #fff;
}
.scanned p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.generalQty {
  pointer-events: none;
  user-select: none;
  background: none !important;
  color: white !important;
  font-size: 18px !important;
}
.scaner_item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 7px 10px;
  align-items: center;
  border-radius: 10px;
  gap: 5px;
}

.scaner_item_price {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 7px 10px;
  align-items: center;
  border-radius: 10px;
  gap: 5px;
}

.scaner_item_price label {
  width: 100%;
  margin-right: 100px;
}

.scaner_item input[type="number"]::-webkit-inner-spin-button,
.scaner_item input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.scaner_item input {
  height: 100%;
  border: none;
  text-indent: 10px;
  font-size: 13px;
  border-radius: 5px;
}

.scanned button {
  width: 50%;
  height: 40px;
  background: rgb(10, 107, 203);
  color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
.scanned button:hover {
  background: rgb(52, 139, 225);
}
.barClose {
  width: 100%;
  font-size: 25px;
  display: flex;
  padding-top: 5px;
  color: #fff;
}

.scanned__btns {
  display: flex;
  gap: 7px;
}

.barCodeReader h1 {
  text-align: center;
  color: #fff;
}

@media (max-width: 760px) {
  .scanned {
    max-height: 400px;
    overflow-y: auto;
  }
}

@media (max-width: 610px) {
  .scanned {
    max-height: 350px;
    overflow-y: auto;
  }
}

@media (max-width: 500px) {
  .scanned {
    padding: 20px;
  }
}

@media (max-width: 445px) {
  .scanned {
    width: 320px !important;
  }
  .barcode_container {
    width: 320px !important;
  }
  .scaner_item_price label {
    margin-right: 60px;
  }

  .barCodeReader h1 {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .scanned {
    width: 300px !important;
    padding: 15px;
    height: auto;
  }

  .barcode_container {
    width: 280px !important;
  }
}

@media (max-width: 330px) {
  .scanned {
    width: 290px !important;
    padding: 10px;
    height: auto;
    gap: 5px;
  }
  .scaner_item,
  .scaner_item_price {
    padding: 7px;
  }
  .scanned {
    max-height: 300px;
    overflow-y: auto;
  }
}
