.credit_cart_page {
  width: 100%;
  height: calc(100vh - 60px);
}

.credit_cart_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credit_cart_header {
  width: 100%;
  height: 60px;
  /* background: dodgerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #000;
}

.search_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_container input {
  height: 40px;
  width: 300px;
  border: none;
  outline: none;
  text-indent: 10px;
  font-size: 17px;
  border-radius: 15px;
  background: transparent;
  background: #00000043;
  color: #fff;
}

.search_container input::placeholder {
  color: #fff;
}

.search_container select {
  width: 200px;
  height: 40px;
  background: #00000043;
  border-radius: 15px;
  padding-right: 10px;
  font-size: 16px;
  color: #fff;
}

.search_container select option {
  font-size: 17px;
}

.credit_cart_table_container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  padding-bottom: 60px;
}

.credit_cart_table_container table {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid #000; */
}

.credit_cart_table_container table thead tr {
  width: 100%;
  height: 40px;
  background: #05326e;
  /* background: #042654; */
}

.credit_cart_table_container table thead tr th {
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0 2px;
  position: sticky;
  top: 0px;
  background: #042654;
}

.credit_cart_table_container table thead tr th:nth-child(12) {
  border-right: none;
}

.credit_cart_table_container table tbody tr {
  height: 35px;
  background: #eeeeee;
  z-index: -1;
}

.credit_cart_table_container table tbody tr td {
  border-right: 1px solid #fff;
  padding: 0 5px;
}

.credit_cart_table_container table tbody tr:nth-child(odd) {
  background: #c7defd;
}
.credit_cart_table_container table tbody tr td:nth-child(12) {
  border-right: none;
}

.credit_cart_table_container table tbody tr td:nth-child(1) {
  text-align: center;
}

.credit_cart_table_container table tbody tr td:nth-child(10) {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.credit_cart_table_container table tbody tr td svg:first-child {
  color: rgb(214, 145, 16);
}

.credit_cart_table_container table tbody tr td svg:nth-child(2) {
  color: crimson;
}

/*  */

@media (max-width: 1200px) {
  .credit_cart_header {
    padding-bottom: 10px;
  }

  .credit_cart_table_container .table thead {
    display: none;
  }

  .credit_cart_table_container,
  .credit_cart_table_container .table,
  .credit_cart_table_container .table tbody,
  .credit_cart_table_container .table tbody tr,
  .credit_cart_table_container .table tbody tr td {
    display: block;
    width: 100% !important;
    height: auto;
  }

  .credit_cart_table_container .table tr {
    margin-bottom: 15px;
  }

  .credit_cart_table_container .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border-bottom: 1px solid #05326e;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .credit_cart_table_container .table tbody tr td:nth-child(1) {
    text-align: right;
  }

  .credit_cart_table_container .table tbody tr td:nth-child(10) {
    justify-content: right;
    padding-bottom: 5px;
    border-bottom: none;
  }

  .credit_cart_table_container .table tbody tr td::before {
    content: attr(data_lable);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 15px;
    font-weight: 600;
    text-align: left;
    color: #656262;
    border-right: 1px solid #000;
  }
}

@media (max-width: 1065px) {
  .credit_cart_header {
    flex-direction: column;
    height: auto !important;
  }
}

@media (max-width: 535px) {
  .search_container input {
    width: 220px !important;
  }
}

@media (max-width: 460px) {
  .credit_cart_header {
    gap: 10px !important;
  }
  .credit_cart_header h1 {
    font-size: 27px;
  }
  .search_container input {
    width: 150px !important;
    height: 33px !important;
    font-size: 15px !important;
  }
  .search_container select {
    width: 150px !important;
    height: 33px !important;
    font-size: 15px !important;
  }
}

@media (max-width: 350px) {
  .credit_cart_header h1 {
    font-size: 23px;
  }
  .search_container input {
    width: 120px !important;
  }
  .search_container select {
    width: 120px !important;
  }
}
