.registered_page {
  width: 100%;
  padding: 10px;
}

.registered_page table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  margin-top: 70px;
}

.registered_page table caption {
  width: 100%;
  margin: 15px 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 25px;
  background: #042654;
  position: absolute;
  top: -76px;
}

.registered_page table thead tr {
  background: #042654;
  width: 100%;
  height: 40px;
}

.registered_page table thead tr th {
  border: 1px solid #fff;
  color: #fff;
}

.registered_page table tbody tr {
  width: 100%;
  height: 35px;
  background: #eee;
}

.registered_page table tbody tr:nth-child(odd) {
  background: #c7defd;
}

.registered_page table tbody tr td {
  padding: 0 3px;
  border: 1px solid #fff;
}

.registered_page table tbody tr .change {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: space-around;
  height: 35px;
}
.change button {
  background: none;
  border: none;
}

.registered_page table tbody tr td:nth-child(1) {
  text-align: center;
}

.empty_cart {
  width: 100%;
  height: calc(100vh - 100px);
}
