.cridit_register_page {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.825);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  /* background: #000; */
}

.cridit_register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cridit_register_form_container {
  width: 500px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(10px);
}

.cridit_register_form_header {
  width: 100%;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
}

.cridit_register_form_header svg {
  font-size: 25px;
}

.cridit_register_form_header h2 {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.506);
  cursor: pointer;
  font-size: 20px;
}

.cridit_register_form {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.cridit_register_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cridit_register_form form h1 {
  color: #fff;
  text-align: center;
}

.cridit_register_form form .form_inputs {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  border: none;
}

.cridit_register_form form .form_inputs input {
  border: none;
}

.cridit_register_form form button {
  width: 150px;
  padding: 10px 22px;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 17px;
}

/* criedit_register_find_form */

.criedit_register_find_form {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.criedit_register_find_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.criedit_register_find_form h1 {
  color: #fff;
  text-align: center;
}

.form_find_inputs {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.form_find_inputs input[type="number"]::-webkit-inner-spin-button,
.form_find_inputs input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form_find_inputs input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
  outline: none;
  font-size: 17px;
  background: #f1efef;
}

.criedit_register_find_form form button {
  width: 150px;
  padding: 10px 22px;
  border-radius: 5px;
  font-size: 17px;
  margin: 0 auto;
}

/* ?\ \\ */

@media (max-width: 570px) {
  .cridit_register_form form .form_inputs {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 520px) {
  .cridit_register_form_container {
    width: 330px;
  }

  .cridit_register_form_header h2 {
    font-size: 17px;
  }

  .criedit_register_find_form h1,
  .cridit_register_form form h1 {
    font-size: 22px;
  }

  .form_find_inputs input {
    height: 35px;
  }
}
