* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
body {
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  overflow: hidden !important;
}

button,
svg {
  cursor: pointer;
}

:root {
  --bgColor: #0e54ae;
  --textColorLight: #fffaff;
  --bgColorDark: #05397e;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #dedddd;
}

::-webkit-scrollbar-thumb {
  background: var(--bgColorDark);
  border-radius: 6px;
}

.strange {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.strange aside {
  position: sticky;
  left: 0;
  top: 60px;
  max-width: 220px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(203, 203, 203);
  background: var(--bgColorDark);
}

aside button {
  padding: 15px;
  background: transparent;
  font-size: 20px;
  display: flex;
  align-items: end;
  background: var(--bgColorDark);
  color: #fffaff;
}

aside a {
  padding: 15px 12px;
  color: #fffaff;
  font-size: 18px;
  display: flex;
  gap: 7px;
}
aside a svg {
  font-size: 20px;
}
aside a:hover,
aside a.active {
  /* color: rgb(165, 161, 161); */
  background: var(--bgColor);
}
